
.Cabeca {
    background-color: #090000;
    color: #6b3232;
    width: 30%;
    padding: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Cabeca-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 20px; /* Reduz o tamanho do logo */
    height: auto;
}
.Cabeca h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px;
}

.menu-icons {
    display: flex;
    gap: 20px;
}

.menu-icons i {
    font-size: 1.5rem;
    color: #181818;
    cursor: pointer;
}
