.Contend-content {
    text-align: center;
  }
  
  .Contend-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Contend-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Contend-header {
    background-color: #6E3D33;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(142, 80, 80);
  }
  
